@charset "UTF-8";
@import "../_variable.scss";

.text-orange {
  color: $orange;
}

.text-yellow {
  color: $yellow;
}

.text-royal {
  color: $purple;
}

.text-black {
  color: $black;
}

.text-red {
  color: #F25412;
}

.text-green {
  color: $green-dark;
}

.text-gray {
  color: #AAA;
}
