@charset "UTF-8";

$menu-width: 150px;

$border-color: #dcdcdc;
$table-border-color: #EAEAEA;

$orange: #FF7915;
$yellow: #FFA006;
$green: #00CA98;
$blue: #00A8ED;
$purple: #DC71F5;
$red: #FF6E67;
$black: #323232;

$green-dark: #417427;
