@charset "UTF-8";
@import "mixins/_utilities";
@import "_variable.scss";

//from purecss
@import "~purecss/build/base.css";
@import "~purecss/build/forms.css";
@import "~purecss/build/grids.css";
@import "~purecss/build/grids-responsive.css";
@import "~purecss/build/tables.css";

// reset purecss
.pure-form-aligned .pure-control-group label {
  width: 6em;
}

// responsive rem setting
html {
    font-size: 50px;
}

@media (min-width: 1536px) {
    html {
        font-size: 100px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 37.5px;
    }
}

* {
    @include border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-size: 14px;
    font-family: Helvetica, "Microsoft YaHei", STXihei, serif;
    color: #777;
}

.clearfix,
.container {
    @include clearfix;
}

input[type='search'],input[type='text'],input[type='date'],input[type='number'] {
  font-size: 14px;
}

*:focus {
    outline: none;
}

::-webkit-scrollbar {
  width: 0;
}

.search-container,.table-container,.overview-container {
  padding: .2rem;
  margin: .2rem;
  background-color: #FFF;
  border: 1px solid $border-color;
}

@import "elements/_btn.scss";
@import "elements/_toast.scss";
