@charset "UTF-8";
@import "mixins/_utilities";
@import "_variable.scss";

//from purecss
@import "~purecss/build/base.css";
@import "~purecss/build/forms.css";
@import "~purecss/build/grids.css";
@import "~purecss/build/grids-responsive.css";
@import "~purecss/build/tables.css";

// reset purecss
.pure-form-aligned .pure-control-group label {
  width: 6em;
}
.pure-form select {
  height: auto;
}

.pure-table {
  width: 100%;
  text-align: center;
  border: 1px solid $table-border-color;
  margin-top: .3rem;
  td, th {
    border-left: 1px solid $table-border-color;
    text-align: center;
    padding-top: .2rem;
    padding-bottom: .2rem;
  }
  thead {
    color: $black;
    background-color: #F5F7FA;
    border-bottom: 1px solid $table-border-color;
  }
}
.pure-table-bordered td {
  border-bottom: 1px solid $table-border-color;
}

.pure-form-aligned .pure-control-group {
  margin-bottom: .25rem;
}

// responsive rem setting
html {
    font-size: 50px;
}

@media (min-width: 1536px) {
    html {
        font-size: 100px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 37.5px;
    }
}

* {
    @include border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-size: 14px;
    font-family: Helvetica, "Microsoft YaHei", STXihei, serif;
    color: #777;
}

.clearfix,
.container {
    @include clearfix;
}

input[type='search'],input[type='text'],input[type='date'],input[type='number'] {
  font-size: 14px;
}

*:focus {
    outline: none;
}

::-webkit-scrollbar {
  width: 0;
}

.search-container,.table-container,.overview-container {
  padding: .35rem .35rem .1rem .35rem;
  margin: .25rem;
  background-color: #FFF;
  border: 1px solid $border-color;
}

.search-container {
  padding-bottom: 0;
}

.no-data {
  text-align: center;
  opacity: .8;
}

.avatar {
  &--round {
    border-radius: 50%;
  }
  &--sm {
    width: .9rem;
    height: .9rem;
  }
  &--md {
    width: 1.2rem;
    height: 1.2rem;
  }
}

@import "elements/_btn.scss";
@import "elements/_toast.scss";
@import "elements/_modal.scss";
@import "elements/_text.scss";
@import "elements/_preview.scss";
